.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.card {
  background: #fff;  
}

.row {
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  /* background-color: #f8f9fa; */
  color: white;
  text-align: center;
  font-weight: bold;
}

.image-background {
  position: relative;
  background-image: url("polines-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  filter: blur(4px);
}

.sign-in-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
